a{
    
    
    border: 3px  solid rgb(170, 17, 124);
    border-radius: 5px;
    margin: 15%;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
    
    

}
a:hover{
    
    border-color:rgb(255, 255, 255);
    background-color: rgb(170,17,124) ;
    
    margin: 15%;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
    

}
.button{
    border-style:groove;
    padding:3cqmax;
    border-color: black;
}
#red
{
    background-color: red;

}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#blue
{
    background-color: blue;
}
#black
{
    background-color: black;
}
#white
{
    background-color: rgb(230, 221, 221);
}
#grey{
    background-color: grey;
}
#brown{
    background-color:brown;
}